.peripherals-form, .gateway-form{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.peripheral-container{
    background-color: white;
    padding: 5px;
}

.button-add{
    align-self: start;
}

.text-form{
    color:black;
    padding: 5px;
}

.input-error{
    border-color: red !important;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row-create{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gateway-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
Add peripheral form
*/
.input-group{
    margin: 5px;
    padding: 3px;
}
.input-group-prepend{
    width: 110px;
}
.input-group-text{
    padding: 0.375rem 0.4rem !important;
}